importFrom(R6,R6Class)
importFrom(parallel,detectCores,mclapply)
importFrom(stringr,str_trim,str_split)
export(
	TestCase,
	InDirTest,
	TestSuite,
	TestResults,
	SingleTestResult,
	get_suite,
	get_suitefromDiscoveredTestInstances,
	get_suite_from_file,
	pp,
	pe,
	CompareTrimmedNonEmptyLines,
	cpDir
)
